        .ztree li span.button.ico_docu {
            background-image: url("img/icon_ztree.png");
            background-position: -4px -63px;
        }
        .ztree li span.button.ico_open ,.ztree li span.button.ico_close{
            background-image: url("img/icon_ztree.png");
            background-position: -3px -43px;
        }
.ztree li span.button.center_docu {
    background-position: -56px -18px;
}
.ztree li span.my_icon,.ztree li span.my_close,.ztree li span.my_open {
    margin-top:-2px;
    height:18px;
    background-image: url("img/icon_ztree.png");
    background-position: -83px -4px;
}
/*hover style*/
.curSelectedNode .ico_docu {
    background-position: -24px -63px !important;
}
.curSelectedNode .ico_open ,.curSelectedNode .ico_close{
    background-position: -23px -43px !important;
}
.curSelectedNode .roots_close ,
.curSelectedNode .center_close {
    background-position: -23px -23px !important;
}
.curSelectedNode .bottom_close{
    background-position: -22px -23px !important;
}
.curSelectedNode .root_open ,
.curSelectedNode .roots_open ,
.curSelectedNode .center_open ,.curSelectedNode .bottom_open{
    background-position: -22px -4px !important;
}

.curSelectedNode .my_icon,
.curSelectedNode .my_close,
.curSelectedNode .my_open {
    background-position: -63px -3px !important;
}